{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle" >
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar" style=" border-radius: 0%;">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name"style="color: red;">{{ author.name }}</a>
  <span class="author_job"style="color: yellow;">{{ author.job }}</span>
  <span class="author_bio mbm" style="color: gray;">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"style="color: yellow;">
        <a href="{{ site.url }}/" style="color: yellow;">主页</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item" style="color: yellow;">
        <a href="{{ site.url }}{{ page.url }}"style="color: yellow;">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
</div>
